.footer {
  background-color: var(--primary-footer-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.footer-map {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.social-icon-footer {
  width: 21px;
  height: 21px;
  fill: var(--primary-white-color);
}

.employee__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee__social li + li {
  margin-left: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-ul li + li {
  margin-top: 8px;
}
.comin-title {
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-form-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .comin-title {
    margin-top: 0;
    line-height: 2;
  }
  .footer-form {
    margin-top: 60px;
  }
  .footer-form__colum {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .footer-form-item {
    margin-bottom: 20px;
  }
}

// ===================================================
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }

  .footer-1 {
    text-align: start;
  }

  .footer-tablet {
    display: flex;
    align-items: baseline;
  }

  .footer-form {
    text-align: start;
    margin-left: auto;
  }
  .comin-title {
    margin-top: 0;
  }
  .footer__comin {
    margin-left: 70px;
  }

  .footer-ul {
    display: inline-block;
  }

  .footer-flex {
    display: flex;
    align-items: baseline;
  }

  .footer-network {
    margin-top: 20px;
  }
}
