.hero {
  max-width: 100%;
}
.hero-container {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #2b1e18;
  margin-bottom: 15px;
}
.hero-content {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #2b1e18;
}
.hero-button {
  margin-top: 70px;
  width: 207px;
  height: 64px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #f4c078;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.38px;

  color: #2b1e18;
}
.hero-mobile {
  background-image: url(../../images/webp/mobile/bg.jpeg);
  width: 375px;
  height: 416px;
  padding-left: -20px;
}

@media screen and (max-width: 1439px) {
}
@media screen and (min-width: 1440px) {
  .hero-mobile {
    display: none;
  }
  .image-hero {
    width: 558px;
    height: 547px;
    background-image: url(../../images/webp/desktop/BG.webp);
    margin-left: 71px;
  }
  .hero-container {
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .hero {
    display: flex;
  }
  .hero-content {
    width: 511px;
  }
  .hero-title {
    margin-top: 110px;
  }
}
