.socialDiv {
  padding-left: 13px;
  padding-right: 14px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f4c078;
}

.social-title {
  margin-top: 60px;
  color: var(--primary-text-color);
}
.social-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: #ffffff;
  text-align: center;
}
.social-link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.social-content {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.social-list {
  text-decoration: none;
  margin-left: 60px;
  margin-top: 44px;
  list-style: none;
}
.social-link {
  text-decoration: none;
  position: relative;
  display: block;
}

.social-link-phone::before {
  position: absolute;
  display: block;
  top: 15px;
  left: -75px;
  width: 54px;
  height: 54px;
  background-position: center;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../images/path.svg');

  content: '';
  background-repeat: no-repeat;
}
.social-link-mail {
  margin-top: 44px;
}

.social-link-mail::before {
  position: absolute;
  display: block;
  top: 15px;
  left: -75px;
  width: 54px;
  height: 54px;
  background-position: center;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../images/mail.svg');
  content: '';
  background-repeat: no-repeat;
}
.social-link-path {
  margin-top: 44px;
}
.social-link-path::before {
  position: absolute;
  display: block;
  top: 15px;
  left: -75px;
  width: 54px;
  height: 54px;
  background-position: center;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../images/Shape.svg');
  content: '';
  background-repeat: no-repeat;
}
@media screen and (min-width: 1440px) {
  .socialDiv {
    padding-top: 122px;
    padding-bottom: 92px;
    padding-left: 183px;
    padding-right: 166px;
  }
  .social-list {
    display: flex;
    justify-content: space-between;
  }
  .social-link-path {
    margin-top: 0;
  }
  .social-link-mail {
    margin-top: 0px;
  }
}
