.header-logo {
  width: 28.34px;
  height: 28.34px;
}
.basket {
  width: 30px;
  height: 30px;
}
.header-menu {
  width: 24px;
  height: 32px;
}
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}
