.container {
  // padding-left: 20px;
  // padding-right: 20px;
  margin: auto;
}
.container.odd {
  background-color: #ffffff; /* Ваш цвет фона для нечетных секций */
}

/* Стили для четных секций */
.container.even {
  background-color: #2b1e18; /* Ваш цвет фона для четных секций */
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: auto;
    padding-left: 129px;
    padding-right: 129px;
  }
}
