:root {
  --primary-text-color: #2b1e18;
  //   --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --ptimary-heroy-color: #c4c4c4;
  --background-button: #f5f4fa;
  --primary-footer-color: #2f303a;
  --primary-icon-color: #afb1b8;
}
